<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
    <!-- <link rel="stylesheet" href="/stylesheets/contactlog.css"> -->

    <link rel="stylesheet" href="/stylesheets/contact.css">
  </head>
  <body>
      <form action="/login" method="post">
        <h1>Log in</h1>
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required/>
    </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"required />
    </div>

    <input type="submit" value="Submit">
    <p>Don't have Account ? <a href="/">Signup</a></p>
    </form>
  </body>
</html>