<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>This is My Home Page</h1>
  <button>Generate</button>

  <form action="/form-data" method="post">
    <input type="text" name="name" placeholder="Enter name"> <br><br> 
    <input type="number" name="age" placeholder="Enter Age"> <br><br> 
    <input type="text" name="grade" placeholder="Enter grade"> <br><br> 
    <input type="address" name="address" placeholder="Enter address"> <br><br> 
    <input type="submit" value="Submit">
  </form>


  <script>
    let button = document.querySelector('button');
    button.addEventListener('click', () => {
      let create = fetch("./generate")
      alert("Added 10 random users...")
    });
  </script>
</body>
</html>