* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  /* color: red; */
  color: green;
  font-family: cursive;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 40%;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
  background-color: gray;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form div label {
  display: block;
  text-align: left !important;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  margin: auto;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  align-self: center;
  margin: 10px auto;
}
input:focus {
  outline: none;
}

input[type="submit"] {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  padding: 10px;
}

@media (max-width:700px) {
  form{
    width: 80%;
  }
  
}